@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;

}
body{
  background-color: #1b1b1b;
  font-family: sans-serif;
}

.dark{
  background-color: #1b1b1b;
}

body::-webkit-scrollbar {
  width: 2px;
}
 
body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
}


ul{
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-trigger img{
  height: 40px;
  width: 40px;
  margin: 0 3px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  /* background-color: #fff; */
}

.dropdown-menu{
  position: absolute;
  top: 60px;
  right: 40px;
  /* background-color: #fff; */
  border-radius: 2px;
  padding: 10px 20px;
  width: 200px;
}
@media (max-width: 1021px) {
  .dropdown-menu{
    right: 10px;
  }
}
.dropdown-menu::before{
  /* content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg); */
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}


h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

h3 span{
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li{
  padding: 10px  0;
  /* border-top: 1px solid rgba(0, 0, 0, 0.05); */
}

.dropdown-menu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
}

.dropdownItem img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}

.image_profile{
  /* border-radius: 10%; */
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .image_profile{
    /* border-radius: 10%; */
    height: 150px;
    width: 150px;
  }
}

/* order Movies divs */

@media (min-width: 640px) {
  
  .order-movies > * {
    order: 2;
  }
  
  .order-movies > *:last-child {
    order: 1;
  }
}

/* load more animation */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: #999 #1b1b1b;
}

@keyframes rotate {
  100% {
    background-position: 15% 80%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.body-login{
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
  /* background-image: url("../assets/login.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  animation: rotate 6s infinite alternate linear, fadeIn 1s ease-in-out 0.5s forwards;
  opacity: 0;
}

@media (width >= 3200px) {
  .body-login {
    padding: 0;
  }
}

.login-card {
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 0 20px;
  padding: 70px 30px 44px;
  border-radius: 0.3rem;
  background: #1b1b1b;
  /* border: 3px solid #1b1b1b; */
  text-align: center;
}

@media (width >= 500px) {
  .login-card {
    margin: 0;
    width: 400px;
  }
}

.login-card > h2 {
  font-size: 36px;
  /* font-weight: 600; */
  /* margin: 0 0 12px; */
}

.login-card > h3 {
  /* color: rgba(0, 0, 0, 0.38); */
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form > input,
.login-form > button {
  width: 100%;
  height: 35px;
}

.login-form > input {
  border: 2px solid #ebebeb;
  font-family: inherit;
  font-size: 16px;
  padding: 0 10px;
  background-color: #1b1b1b;
  color: white;
}

.login-form > button {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border-radius: 0.5rem;
  /* background: #216ce7; */
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
  
}

.login-form > a {
  /* color: #216ce7; */
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
  /* margin-bottom: 6px; */
}
